{
  "printWidth": 100,
  "tabWidth": 4,
  "semi": true,
  "singleQuote": false,
  "trailingComma": "all",
  "bracketSpacing": true,
  "overrides": [
    {
      "files": "*.php",
      "options": {
        "parser": "php",
        "singleQuote": true
      }
    },
    {
      "files": "*.js",
      "options": {
        "parser": "babel"
      }
    },
    {
      "files": "*.css",
      "options": {
        "parser": "css"
      }
    }
  ]
}
